.main{
  display: flex;
  height: 100vh;
}
.SideBar{
  width: 260px;
  flex-shrink: 0;
  background-color: #C5CAE9;
  height: 100%;
  overflow: auto;
  
 
}
.SideBarClosed{
  width: 60px;
  flex-shrink: 0;
  background-color: #C5CAE9;
  height: 100%;
  overflow: auto;
}

.Container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* .App{
   position: relative; /* Le parent doit être positionné 
   height: 100vh; 
} */
